Repository apache/kylin, pull requests merged in 2021-03, with the labels that each got.

#1586 KYLIN-4905 Support limit .. offset ... in spark query engine
  kylin-it/src/test/resources/query/sql_limit/query00.sql
  kylin-it/src/test/resources/query/sql_limit/query00.sql.expected/._SUCCESS.crc
  kylin-it/src/test/resources/query/sql_limit/query00.sql.expected/.part-00000-a290bf53-2025-46e5-8133-2a6bf503206c-c000.csv.crc
  kylin-it/src/test/resources/query/sql_limit/query00.sql.expected/_SUCCESS
  kylin-it/src/test/resources/query/sql_limit/query00.sql.expected/part-00000-a290bf53-2025-46e5-8133-2a6bf503206c-c000.csv
  kylin-spark-project/kylin-spark-query/src/main/scala/org/apache/kylin/query/runtime/plans/LimitPlan.scala
  kylin-spark-project/kylin-spark-test/src/test/java/org/apache/kylin/engine/spark2/NBuildAndQueryTest.java
  query/src/main/java/org/apache/kylin/query/exec/SparkExec.java
  query/src/main/java/org/apache/kylin/query/relnode/OLAPTableScan.java
Labels: Reviewing

#1573 KYLIN-4900 real-time stream doesn't support GMT-N timezone and doesn't convert other time columnexcept derived column above day
  core-storage/src/main/java/org/apache/kylin/storage/gtrecord/CubeTupleConverter.java
  stream-core/src/main/java/org/apache/kylin/stream/core/query/StreamingTupleConverter.java
  stream-source-kafka/src/main/java/org/apache/kylin/stream/source/kafka/TimedJsonStreamParser.java
Labels: Reviewing

#1610 KYLIN-4879 kylin4 - Fix the function of remove sql comments
  pom.xml
  query/pom.xml
  query/src/main/codegen/javacc/org/apache/kylin/query/util/.gitignore
  query/src/main/codegen/javacc/org/apache/kylin/query/util/CommentParser.jj
  query/src/main/java/org/apache/kylin/query/util/QueryUtil.java
  query/src/test/java/org/apache/kylin/query/util/QueryUtilTest.java
Labels: Kylin 4.X

#1604 KYLIN-4921: New rowkey for streamv2 source config and fix bug that can't create same name table in diff project
  kylin-it/src/test/java/org/apache/kylin/realtime/BuildCubeWithStreamV2.java
  server-base/src/main/java/org/apache/kylin/rest/controller/StreamingV2Controller.java
  server-base/src/main/java/org/apache/kylin/rest/controller/TableController.java
  server-base/src/main/java/org/apache/kylin/rest/service/ProjectService.java
  server-base/src/main/java/org/apache/kylin/rest/service/StreamingV2Service.java
  server-base/src/main/java/org/apache/kylin/rest/service/TableService.java
  stream-core/src/main/java/org/apache/kylin/stream/core/source/StreamingSourceConfig.java
  stream-core/src/main/java/org/apache/kylin/stream/core/source/StreamingSourceConfigManager.java
  stream-receiver/src/main/java/org/apache/kylin/stream/server/StreamingServer.java
  stream-source-kafka/src/main/java/org/apache/kylin/stream/source/kafka/KafkaBatchSourceAdaptor.java
  stream-source-kafka/src/main/java/org/apache/kylin/stream/source/kafka/KafkaSource.java
  tool/src/main/java/org/apache/kylin/tool/CubeMigrationCLI.java
  tool/src/main/java/org/apache/kylin/tool/extractor/CubeMetaExtractor.java
  webapp/app/js/controllers/sourceMeta.js
Labels: Kylin 3.X

#1607 KYLIN-4930 reset current page when searching for users/groups
  webapp/app/js/controllers/userGroup.js
Labels: Cherry-pick needed, Kylin 3.X

#1540 [KYLIN-4667] Automatically set kylin.query.cache-signature-enabled to…
  core-common/src/main/java/org/apache/kylin/common/KylinConfigBase.java
  server-base/src/main/java/org/apache/kylin/rest/service/CacheService.java
  storage-hbase/src/main/java/org/apache/kylin/storage/hbase/cube/v2/CubeHBaseEndpointRPC.java
Labels: Reviewing

#1608 KYLIN-4926 Optimize Global Dict building: replace operation 'mapPartitions.count()' with 'foreachPartitions'
  kylin-spark-project/kylin-spark-common/src/main/scala/org/apache/spark/dict/NGlobalDictBuilderAssist.scala
  kylin-spark-project/kylin-spark-engine/src/main/scala/org/apache/kylin/engine/spark/builder/CubeDictionaryBuilder.scala
  kylin-spark-project/kylin-spark-engine/src/main/scala/org/apache/kylin/engine/spark/builder/DictHelper.scala
  kylin-spark-project/kylin-spark-engine/src/test/java/org/apache/kylin/engine/spark/dict/NGlobalDictionaryTest.java
  query/src/main/codegen/javacc/org/apache/kylin/query/util/CommentParser.jj
Labels: Kylin 4.X

#1612 KYLIN-4935 Existing JobOutput's extend info will be lost when it is updated
  core-job/src/main/java/org/apache/kylin/job/execution/ExecutableManager.java
  pom.xml
Labels: Cherry-pick needed, Kylin 3.X

#1603 KYLIN-4918 Support Cube Level configuration in FilePruner
  kylin-spark-project/kylin-spark-common/src/main/scala/org/apache/spark/sql/execution/datasource/FilePruner.scala
  kylin-spark-project/kylin-spark-common/src/main/scala/org/apache/spark/sql/execution/datasource/ResetShufflePartition.scala
Labels: Kylin 4.X
